.page {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2a2c2f;
  color: white;
  font-weight: normal;
  box-sizing: border-box;
}

.header {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 16px 0 48px;
}

@media screen and (min-width: 768px) {
  .header {
    width: 94%;
    padding-top: 28px;
  }
}

.header__logo {
  width: 142px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

.header__nav {
  padding-top: 14px;
}

@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 18px;
  }
}

.header__lang-link {
  font-size: 18px;
  line-height: 1.1;
  color: white;
  text-decoration: none;
}

.header__lang-link:first-child {
  text-decoration: underline;
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 1.17;
  }
}

.lead {
  width: 100%;
}

.lead__title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .lead__title {
    width: 94%;
    font-size: 96px;
    line-height: 1.04;
  }
}

.lead__subtitile {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  padding: 16px 0 40px;
}

@media screen and (min-width: 768px) {
  .lead__subtitile {
    width: 83%;
    font-size: 32px;
    line-height: 1.2;
    padding-top: 32px 0 56px;
  }
}

.lead__image {
  width: 100%;
  height: 62.5vw;
  background-image: url("./image/lead-train.jpg");
  background-size: cover;
  background-position: center;
}

.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  padding: 8px 0 0 16px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

.intro {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 94%;
  }
}

.intro__title {
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  margin: 64px 0 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07px;
    margin-top: 88px;
  }
}

.intro__text {
  font-size: 16px;
  line-height: 1.63;
  padding: 40px 0 34px;
  margin: 0;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 64px;
}

@media screen and (min-width: 768px) {
  .intro__list {
    padding-bottom: 88px;
  }
}

.intro__item {
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
}

.intro__num {
  font-weight: normal;
}

.photo-grid {
  width: 90%;
  margin: 0 auto 64px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    width: 94%;
    gap: 16px;
    margin-bottom: 88px;
  }
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

.places {
  padding-bottom: 66px;
}

@media screen and (min-width: 768px) {
  .places {
    width: 94%;
    margin: 0 auto;
    padding-bottom: 90px;
  }
}

.place {
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title website"
      "img paragraphs";
    row-gap: 48px;
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

.place__title {
  width: 90%;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  margin: 0 auto;
  grid-area: title;
}

@media screen and (min-width: 768px) {
  .place__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.1;
    grid-area: title;
  }
}

.place__image {
  width: 100%;
  object-fit: cover;
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 100%;
    padding: 0;
    grid-area: img;
  }
}

.place__website {
  display: none;
}

@media screen and (min-width: 768px) {
  .place__website {
    display: block;
    grid-area: website;
    align-self: flex-end;
  }
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding-bottom: 12px;
  letter-spacing: 2.4px;
  color: #aaa;
}

.place__link {
  font-size: 18px;
  line-height: 1.22px;
  color: white;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .place__paragraphs {
    grid-area: paragraphs;
  }
}

.place__paragraph {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 25px;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    width: 100%;
    margin: 0;
  }

  .place__paragraph:last-child {
    padding-bottom: 0;
  }
}

.cover {
  margin: 0 auto 64px;
  width: 100%;
  height: 62.5vw;
  background-image: url("./image/cover-main.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

.cover__title {
  width: 74%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  padding: 33px 0 16px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__title {
    width: 73%;
    font-size: 72px;
    line-height: 1.06;
    padding: 115px 0 32px;
  }
}

.cover__subtitle {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.14;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 47%;
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
  }
}

.footer__link {
  color: white;
  padding-left: 16px;
  padding-bottom: 32px;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
}

.footer__link:last-of-type {
  padding-bottom: 0;
}

.footer__link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
    padding: 0 16px 0 0;
  }

  .footer__link:last-of-type {
    padding-right: 0;
  }
}

.footer__copyright {
  font-size: 14px;
  line-height: 14px;
  padding: 48px 0 24px 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.14;
    padding: 0;
  }
}
