.page {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2a2c2f;
  color: white;
  font-weight: normal;
  box-sizing: border-box;
}

.header {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 16px 0 48px;
}

.header__logo {
  width: 142px;
  height: 42px;
}

.header__nav {
  padding-top: 14px;
}

.header__lang-link {
  font-size: 18px;
  line-height: 1.1;
  color: white;
  text-decoration: none;
}

.header__lang-link:first-child {
  text-decoration: underline;
  margin-right: 18px;
}

.lead {
  width: 100%;
}

.lead__title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
}

.lead__subtitile {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  padding: 16px 0 40px;
}

.lead__image {
  width: 100%;
  height: 62.5vw;
  background-image: url("./image/lead-train.jpg");
  background-size: cover;
  background-position: center;
}

.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  padding: 8px 0 0 16px;
  margin: 0 0 64px;
  text-transform: uppercase;
}

.intro {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.intro__title {
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  margin: 0;
}

.intro__text {
  font-size: 16px;
  line-height: 1.63;
  padding: 40px 0 34px;
  margin: 0;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 64px;
}

.intro__item {
  font-size: 12px;
  line-height: 1.5;
}

.photo-grid {
  width: 90%;
  margin: 0 auto 64px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}
/* 
.places {

} */

.place {
  display: flex;
  flex-direction: column;
}

.place__title {
  width: 90%;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  margin: 0 auto;
}

.place__image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  padding: 32px 0;
}

.place__paragraph {
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 25px;
}

.place__paragraph:last-child {
  padding-bottom: 49px;
}

.cover {
  margin-top: 17px auto 64px;
  width: 100%;
  height: 62.5vw;
  background-image: url("./image/cover-main.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: .3;
}

.cover:hover::before {
  opacity: .8;
}

.cover__title {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  line-height: 1.09;
  font-weight: 900;
  padding: 33px 0 16px;
  position: relative;
}

.cover__subtitle {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.14;
  position: relative;
}

