.place {
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title website"
      "img paragraphs";
    row-gap: 48px;
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 32px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;

  }
}
